<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>First</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <display-name>JSPConfiguration</display-name>
      <url-pattern>*.html</url-pattern>
      <el-ignored>true</el-ignored>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
  <filter>
    <filter-name>simple</filter-name>
    <filter-class>com.filter.SimpleFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>simple</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>com.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/jsp/ShopCart.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/jsp/SelfInfo.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/jsp/UserList.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.user.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.user.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopCart</display-name>
    <servlet-name>ShopCart</servlet-name>
    <servlet-class>com.shopcart.ShopCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopCart</servlet-name>
    <url-pattern>/ShopCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AJAXTest</display-name>
    <servlet-name>AJAXTest</servlet-name>
    <servlet-class>first.AJAXTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AJAXTest</servlet-name>
    <url-pattern>/AJAXTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserNameCheck</display-name>
    <servlet-name>UserNameCheck</servlet-name>
    <servlet-class>com.user.check.UserNameCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserNameCheck</servlet-name>
    <url-pattern>/UserNameCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailCheck</display-name>
    <servlet-name>EmailCheck</servlet-name>
    <servlet-class>com.user.check.EmailCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailCheck</servlet-name>
    <url-pattern>/EmailCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetIndexGoodsInfo</servlet-name>
    <servlet-class>com.ajax.servlet.GetIndexGoodsInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetIndexGoodsInfo</servlet-name>
    <url-pattern>/GetIndexGoodsInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>com.user.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>